.feynman__link {
  position: absolute;
  top: 50%;
  right: 48px;
  line-height: 51px;
  font-size: 36px;
  color: #2f80ed;
  text-decoration: none;
  -webkit-transition: opacity .4s;
  -o-transition: opacity .4s;
  transition: opacity .4s;
  z-index: 1;
}

.feynman__link:hover {
  opacity: .7;
}