.cards__item {
  width: 240px; /* 160+40+40 */
  text-align: center;
  margin-right: 100px;
}

.cards__item:nth-of-type(3) {
  margin-right: 0;
}

/* однозначно, для адаптива этот способ не
   подходит, но пока не понимаю, как сделать 
   иначе, чтобы соответствовать брифу */ 
