.khan__buy-link {
  line-height: 42px;
  font-size: 30px;
  font-weight: normal;
  margin: 0 0 auto 0;
  text-decoration: none;
  color: #2f80ed;
  -ms-flex-item-align: top;
      -ms-grid-row-align: top;
      align-self: top;
  -webkit-transition: opacity .4s;
  -o-transition: opacity .4s;
  transition: opacity .4s;
}

.khan__buy-link:hover {
  opacity: .7;
}

.khan__buy-link:active {
  opacity: .4;
}