.khan__buy-link {
  line-height: 42px;
  font-size: 30px;
  font-weight: normal;
  margin: 0 0 auto 0;
  text-decoration: none;
  color: #2f80ed;
  align-self: top;
  transition: opacity .4s;
}

.khan__buy-link:hover {
  opacity: .7;
}